table#Stemmetabell {
    width: auto !important;
}

td.stemmetall, th.stemmetall{
    text-align: right;
}
table#DelingstallTabell > td{
    padding:10px;
    margin-right: 1em;
    text-align: right;
}
table#DelingstallTabell, table#Stemmetabell, table#DelingstallTabell > tr > th, table#DelingstallTabell > tr > td {

}

table#DelingstallTabell > td, table#DelingstallTabell > th {
    text-align: right;
}

td.mandat{
    font-weight: bold;

}
td.mandat, td.ikkeMandat{
    text-align: right;
}

td.maxUtenMandat {
	color:blue;
}

td.sisteMandat {
	color:red;
}
th {
    word-wrap: break-word;
}
#loading {
    position: absolute; width: 100%; height: 100%; background: url('spinner.gif') no-repeat center center;
}