.stemmetall {
    text-align: right;
}
table#DelingstallTabell > td{
    padding:10px;
    margin-right: 1em;
    text-align: right;
}
table#DelingstallTabell, table#DelingstallTabell > tr > th, table#DelingstallTabell > tr > td {
    border: 1px solid black;
}
td.mandat{
    font-weight: bold;

}
td.mandat, td.ikkeMandat{
    text-align: right;
}

td.maxUtenMandat {
	color:blue;
}

td.sisteMandat {
	color:red;
}
th {
    word-wrap: break-word
}